@font-face {
    font-family: pt-sans;
    src: url(fonts/pt-sans/PTS55F.ttf);
}

* {
    font-family: Arial;
}

h1,
h2,
h4 {
    font-family: Roboto;
}

.FIH-forsida-body {
    background: url(../img/forsidumynd.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


/*
hr {
    height: 2px;
    background-color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
}*/

.line {
    margin: 25px 0 25px 0;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}

.whiteline {
    margin: 25px 0 25px 0;
    height: 1px;
    background: white;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}

#FIH-umskolann-container {
    background: url(../img/TFIH_logo_small.jpg) no-repeat;
    background-size: 500px 500px;
    background-position: right;
    opacity: 1;
    min-height: 600px;
}

#FIH-umskolann-container::after {
    opacity: 1;
}

#FIH-saxheim-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

#FIH-footer-logo {}

#dropdown {
    background: url(../img/hvitur.png);
    opacity: 0.9;
}

.sidebar {
    background: url(../img/hvitur.png);
    opacity: 0.8;
}